.ShowTopUp {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgb(210, 210, 210);
    background-color: white;
    text-align: left;
    overflow: hidden;
    margin-bottom: 100px;
}
thead {
    box-shadow: 0 5px 10px rgb(210, 210, 210);
}
th {
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 900;
}
td {
    padding: 16px 35px;
}
tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}
.btnDelete {
    margin-left: 10px;
}
.thNo {
    padding-left: 55px;
}
.tdnumber {
    padding-left: 55px;
}
.thAct {
    padding-right: 50px;
}
.titleTop {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.titleTop h2 {
    font-weight: 700;
    color: blue;
    letter-spacing: 3px;
}
.btnadd Button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnTop {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 470px;
    font-size: 10px;
}
.btnTop Button {
    font-size: 15px;
}