@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.tagline {
    margin-top: 7rem;
    width: 80%;
    font-weight: 400;
    line-height: 1.4;
}
.tagline span {
    color: #605CFF;
    font-weight: 600;
}

.button {
    border-radius: 20px;
    background-color: #605CFF !important;
    padding: 12px 20px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.aboutUs {
    margin-top: 8rem !important;
}

.iconDot {
    margin-right: 0.7rem !important;
}

.card {
    max-width: 274px;
    height: 270px !important;
    text-align: center !important;
    margin: 3rem;
    margin-left: 8rem;
    box-shadow: 10px 10px 20px 0 #00000067;
    
    
}

.columnLoyaltyPoint {
    margin-left: 5rem;
}

.teksLoyaltyPoint {
    color: #7C7C7C;
}

.box {
    background-image: linear-gradient(to right, #407BFF, #1D1C4B);
    width: 950px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    margin: auto;
    margin-bottom: 150px;
}
.box img {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 90px;
    height: 90px;
}
.box p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 30px;
}

.form {
    background-color: white;
    width: 450px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    margin-left: 30px;
  
}

.inputEmail {
    margin-top: 12px;
    margin-left: 18px;
    border: none;
    font-size: 14px;
}

.inputEmail:focus {
    outline: none;
}

.subscribeButton {
    background-color: #407BFF;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    margin-top: -30px;
    margin-left: 325px;
    padding-top: 10px;
    padding-left: 1.3rem;
    display: flex;
}
.imageLanding img{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 40px;
}
.imageLanding2 img {
    width: 460px;
    height: 380px;
    margin-top: -20px;
}
.imageLanding3 img {
    width: 510px;
    height: 510px;
    margin-top: -100px;
}
.titleLanding {
    margin-left: 30px;
    margin-top: -20px;
}
.paragraphLanding {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
    width: 450px;
}
.paragraphLanding2 {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
    width: 450px;
}
.paragraphTitle {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}
.titleLanding2 {
    margin-left: 30px;
    margin-top: -100px;
}
.landingSection2 {
    color: #C4C4C4;
    font-size: 14px;
    font-weight: bold;
}
.landingHeader2 {
    width: 80%;
    font-weight: 400;
    line-height: 1.5;
}
.landingHeader3 {
    width: 80%;
    font-weight: 400;
    line-height: 1.5;
}

.ourProducts {
    text-align: center;
    color: #605CFF;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 600;
}
.loyaltyPoint {
    margin-top: 70px;
    width: 45%;
    font-weight: 600;
    line-height: 1.5;
}
.loyaltyPoint span {
    font-size: 22px;
    color: #605CFF;
}
.frequently {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 80px;
    margin-top: 100px;
    color: #407BFF;
}